body{
    background-image: url("/home/kevine/Documents/GroupProject/Images/photo-1582735689369-4fe89db7114c.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    text-align: center;
    margin-top: 200px;
    font-size: 60px;
}

