*{
  font-family: "Robot";
}
body {
  margin: 0;
}
.mage
{
width: 100%;
height: auto;
background-size: cover;
background-position: center;
background-repeat: no-repeat;
text-align: center;
}
.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
.centered h1{
font-size: 60px;
}
.centered h3{
color: rgb(250, 244, 244);
font-size: 30px
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  font-size: 20px;
  padding-left: 450px;
  padding-bottom: 30px;
 
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align:center;
  padding-left: 20px;
  padding-right: 90px;
  text-decoration: none;
  padding-top: 20px;
  
}
.navbar a:hover {
  color: rgb(84, 181, 219);
}
h1{
  text-align: center;
  margin-top: 200px;
  font-size: 60px;
}

h2{
  text-align: center;
  font-style: italic;
}
.row {  
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
}
.side {
  -ms-flex: 30%;
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}
.body{
  height: 180px;
  width: 300px;
  }
.contact{
  padding-top: 70px;
}

  
  .flex-container {
  
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    justify-content: space-between;
   
  }
  
  .flex-container > img {
    background-color: #f1f1f1;
    width: 40%px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
  footer{
    padding-top:20px;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    position: sticky;
    position: -webkit-sticky;
    color: black;
    text-align: center;
}