*{
    font-family: "Robot";
}
.srvc{
    margin: auto;
    padding-left: 8%;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  font-size: 20px;
  padding-left: 450px;
  padding-bottom: 15px;
  padding-top: px;
  
 
}
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align:center;
  padding-left: 20px;
  padding-right: 170px;
  text-decoration: none;
  padding-top: 20px;
  
}
.navbar a:hover {
  color: rgb(84, 181, 219);
}
h1{
    text-align: center;
    margin-top: 200px;
    font-size: 60px;
}

h2{
    text-align: center;
    font-style: italic;
}
.noshery{
    padding-top: 40px;
    font-size: 40px;
    padding-top: 5px;
    font-size: 80px;
    border-style: dotted;
    border-width: 10px;
    margin: 5px;
    width: 50%;
    height: 30%;
}
.jumbotron{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/hm.jpg");
    background-size: cover;
    margin-top: 50px;
    width:900px;
    margin-left: 100px;
    color:white;
}
#submit, .clear, #delivery, #cancel{
    background-color: grey;
    border-radius: 10px;
}